:root {
    --primary-color: #3498db;
    --secondary-color: #5dade2;
    --text-color: white;
    --background-color: black;
}

body{
    background: url('../img/mainBackground.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: cursive;
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}