.container {
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    border: 1px solid var(--primary-color);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text-color);
}

.button-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}

.container h1{
    font-size: 2.2rem;
}

.container p{
    position: absolute;
    bottom: 40%;
    left: 0;
    margin: 30px;
    font-size: 1.5rem;
}

.button-container button {
    font-size: 1.04rem;
    height: 45px;
    border-radius: 7px;
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 2px 1px var(--secondary-color);
}

.button-container button:hover {
    background: var(--primary-color);
    transition: .5s ease-out;
    cursor: pointer;
}